/* LevelNotifier.css */
.custom-notification {
  background-color: rgba(0, 0, 0, 0.8) !important; /* Тёмный фон с прозрачностью */
  color: #ffffff !important; /* Белый цвет текста */
  backdrop-filter: blur(5px); /* Эффект размытия */
  border-radius: 5px !important; /* Скруглённые углы */
  text-align: center; /* Центрируем текст */
  padding: 10px; /* Добавляем отступы */
}

/* Центрируем уведомление по горизонтали над Footer */
.ant-notification {
  position: fixed;
  bottom: 60px; /* Отступ над Footer, настройте по своему усмотрению */
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  margin: 0;
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы уведомление было поверх других элементов */
}

.ant-notification-notice {
  margin: 0 auto;
  max-width: 90%; /* Ограничиваем максимальную ширину для корректного переноса текста */
}

.ant-notification-notice-message {
  white-space: normal; /* Позволяем переносу текста */
  word-break: break-word; /* Разбиваем длинные слова */
}
