.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0 1rem;
  flex: 1;
}
.characters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  flex-wrap: nowrap;
}
.statusBars, .currentsBars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0.25rem 0;
}
.statusBars {
  flex: 1;
}
.currentsBars {
  flex: 1;
  background-color: #effdfa;
}
