.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
}

.bullButton, .bearButton {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
  color: #fff;
}

.bullButton {
  background-color: #00d435;
}

.bearButton {
  background-color: #ff0000;
}

.bullButton:hover, .bearButton:hover {
  background-color: #008cff;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .bullButton, .bearButton {
    width: 4rem;
    height: 4rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .bullButton, .bearButton {
    width: 3rem;
    height: 3rem;
    font-size: 0.75rem;
  }
}
